@font-face {
  font-family: "Orbitron";
  src: local("Orbitron"),
    url("../../fonts/orbitron/Orbitron-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Orbitron";
  src: local("Orbitron"),
    url("../../fonts/orbitron/Orbitron-Bold.ttf") format("truetype");
  font-weight: bold;
}